.search-bar-container {
  margin-left: auto !important;
}

.search-bar {
  margin-top: 40px !important;
  margin-right: 25px !important;
}

.search-bar-mobile {
  margin-top: 10px !important;
  margin-right: 15px !important;
}
