.search-bar-container {
  margin-left: auto;
}

.search-bar {
  margin-top: 40px;
  margin-right: 50px;
}

.filter-button {
  position: absolute;
  margin-top: -34px;
  margin-left: -50px;
  min-width: 40px;
}

.filter-button-mobile {
  position: absolute;
  margin-top: -7px;
  margin-left: -47px;
  min-width: 40px;
}

.search-bar-mobile {
  margin-top: -30px;
  position: absolute;
  margin-left: -40px;
}

.empty-search-container {
  height: 100%;
}

::ng-deep
  mat-icon.mat-search_icon-search.mat-icon.notranslate.mat-ripple.material-icons.mat-icon-no-color {
  color: #852dc2 !important;
}

::ng-deep
  mat-icon.mat-search_icon-close.mat-icon.notranslate.mat-ripple.material-icons.mat-icon-no-color {
  color: #852dc2 !important;
}

::ng-deep
  mat-icon.mat-icon.notranslate.material-icons-outlined.mat-icon-no-color {
  color: #852dc2 !important;
}
