<div class="mat-typography" class="parent-container">
  <div layout="row" class="header">
    <div flex="" layout="column" class="header-text">
      <h2>Explorar</h2>
      <h4>Encontre os serviços gerais que você precisa</h4>
    </div>
    <div flex="" align="right" class="search-bar-container">
      <mat-search-bar *ngIf="isMobile" class="search-bar-mobile" type="text" [(ngModel)]="searchBarText"></mat-search-bar>
      <mat-search-bar *ngIf="!isMobile" class="search-bar" type="text" [(ngModel)]="searchBarText"></mat-search-bar>
    </div>
  </div>

  <div class="scroll-container">
    <app-loading *ngIf="(status | async) == -1"></app-loading>
    <app-message
      [text]="emptyMessage"
      [icon]="emptyIcon"
      *ngIf="(status | async) == 0"
    ></app-message>
    <div *ngIf="(status | async) == 1" class="list-container">
      <div class="vertical-fill" *ngIf="services | async | filter: [users | async, searchBarText]; let filteredList">
        <app-message
          [text]="emptySearchMessage"
          [icon]="emptySearchIcon"
          *ngIf="filteredList.length == 0"
        ></app-message>
        <app-service-card
          *ngFor="let service of filteredList"
          class="list-item"
          [user]="(users | async).get(service.providerID)"
          [service]="service"
          [editable]="false"
        ></app-service-card>
      </div>
    </div>
  </div>
</div>