.search-bar-container {
  margin-left: auto !important;
}

.search-bar {
  margin-top: 40px !important;
  margin-right: 25px !important;
}

.search-bar-mobile {
  margin-top: -30px !important;
  position: absolute !important;
  margin-left: -40px !important;
}
