<!-->Component for displaying informations about the application's metadata.<-->
<h2 mat-dialog-title>Sobre</h2>
<mat-dialog-content class="mat-typography">
    <div layout="column">
        <div flex="">
            <div class="icon-image">
                <img src="assets/images/icon_128.png">
            </div>
        </div>
        <div flex="">
            <h1 class="bolder-text top-space">Opps</h1>
            <p>Versão 1.0.0</p>
        </div>
        <div flex="">
            <p>Uma aplicação web para conectar usuários a pessoas que oferecem serviços gerais.</p>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>
