<mat-card class="card-container">
    <mat-card-header *ngIf="editable">
        <mat-card-title>
            <a mat-button routerLink="../edit/{{service.id}}">{{service.name}}</a>
        </mat-card-title>
        <button mat-icon-button color="primary" [matMenuTriggerFor]="more_menu">
            <mat-icon class="material-icons-outlined red-text">more_vert</mat-icon>
        </button>
        <mat-menu #more_menu="matMenu">
            <button mat-menu-item routerLink="../edit/{{service.id}}">Editar</button>
            <button mat-menu-item class="red-text" (click)="onDelete()">Apagar</button>
        </mat-menu>
    </mat-card-header>
    <mat-card-header *ngIf="!editable">
        <div mat-card-avatar *ngIf="user.photoURL as photoURL; else emptyPhoto">
            <div class="avatar-icon" [style.background-image]="'url(' + photoURL + ')'"></div>
        </div>
        <ng-template #emptyPhoto>
            <div class="avatar-icon"></div>
        </ng-template>
        <mat-card-title>{{service.name}}</mat-card-title>
        <mat-card-subtitle>{{user.name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{service.description}}</p>
    </mat-card-content>
    <mat-card-actions align="center">
        <a mat-button color="primary" (click)="showCopyContact(0)"
            (mouseenter)="$event.stopImmediatePropagation()" (mouseleave)="$event.stopImmediatePropagation()"
            *ngIf="service.useEmail" matTooltip="E-mail copiado" #emailTooltip="matTooltip" ngxClipboard
            [cbContent]="user.email">
            <mat-icon class="material-icons-outlined red-text">mail</mat-icon>
            E-mail
        </a>
        <a mat-button color="primary" (click)="showCopyContact(1)"
            (mouseenter)="$event.stopImmediatePropagation()" (mouseleave)="$event.stopImmediatePropagation()"
            matTooltip="Telefone copiado" #phoneTooltip="matTooltip" ngxClipboard [cbContent]="formattedPhone()">
            <mat-icon class="material-icons-outlined red-text">phone</mat-icon>
            <span>Telefone</span>
        </a>
    </mat-card-actions>
</mat-card>