<!-->Represents the form to add or edit a service.<-->
<form [formGroup]="serviceForm" novalidate autocomplete="off" (ngSubmit)="addService(serviceForm.value)">
    <div class="mat-typography" layout="column" class="parent-container">
        <div layout="row" class="header">
            <div flex="" layout="column" class="header-text">
                <h2>{{title}}</h2>
                <h4>{{subtitle}}</h4>
            </div>
            <div flex="" align="right" class="header-action-button">
                <button mat-button color="accent" type="button" (click)="onCancel()">Cancelar</button>
                <button mat-button color="accent" type="submit">Salvar</button>
            </div>
        </div>

        <div class="scroll-container" *ngIf="!(isLoading | async); else loading">
            <div class="form-container">
                <mat-form-field appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="hasError('name', 'required')">Nome de serviço inválido.</mat-error>
                    <mat-error *ngIf="hasError('name', 'maxlength')">O nome do serviço deve conter no máximo 60 caracteres.</mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Descrição</mat-label>
                    <textarea matInput rows="10" formControlName="description" required></textarea>
                    <mat-error *ngIf="hasError('description', 'required')">Descrição de serviço inválida.</mat-error>
                    <mat-error *ngIf="hasError('description', 'maxlength')">A descrição do serviço deve conter no máximo 1000 caracteres.</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Telefone</mat-label>
                    <input matInput class="mono-font" placeholder="(  )      -    " formControlName="phone" [textMask]="{mask: phoneMask, placeholderChar: placeholderMask}" required>
                    <mat-error *ngIf="hasError('phone', 'required')">Telefone de contato inválido.</mat-error>
                    <mat-error *ngIf="hasError('phone', 'pattern')">Telefone de contato inválido.</mat-error>
                </mat-form-field>

                <mat-checkbox id="useEmail" formControlName="useEmail">Compartilhar e-mail</mat-checkbox>
            </div>
        </div>
    </div>
</form>

<ng-template #loading>
    <app-loading class="fill"></app-loading>
</ng-template>
