<div class="mat-typography">
    <div layout="row" class="header">
        <div flex="" layout="column" class="header-text">
            <h2>{{title}}</h2>
            <h4>{{subtitle}}</h4>
        </div>
        <mat-dialog-actions flex="" align="right">
            <button mat-button color="accent" (click)="cancelAction()">Cancelar</button>
            <button mat-button color="accent" type="submit">Salvar</button>
        </mat-dialog-actions>
    </div>

    <!--mat-form-field>
        <input matInput placeholder="Nome" id="name"name="name" [(ngModel)]="service.name">
    </mat-form-field>
    
    <mat-form-field>
        <textarea matInput placeholder="Descrição" id="description" name="description" [(ngModel)]="service.description"></textarea>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Telefone" id="telephone" name="telephone" [(ngModel)]="service.telephone">
    </mat-form-field>

    <mat-form-field>
        <mat-checkbox id="useEmail" name="useEmail" [(ngModel)]="service.useEmail">Compartilhar e-mail</mat-checkbox>
    </mat-form-field-->
</div>