<div class="mat-typography" class="parent-container">
    <div layout="row" class="header">
        <div flex="" layout="column" class="header-text">
            <h2>Meus Serviços</h2>
            <h4>Gerencie os serviços prestados por você</h4>
        </div>
        <mat-dialog-actions flex="" align="right">
            <button mat-button color="accent" routerLink="../new">Novo</button>
        </mat-dialog-actions>
    </div>
    <div class="scroll-container">
        <app-loading *ngIf="(status | async) == -1"></app-loading>
        <app-message [text]="emptyMessage" [icon]="emptyIcon" *ngIf="(status | async) == 0"></app-message>
        <div *ngIf="(status | async) == 1" class="list-container">
            <app-service-card *ngFor="let service of services | async" class="list-item" [user]="user" [service]="service"></app-service-card>
        </div>
    </div>
</div>