/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

html, body, .fill {
  height: 100%;
}

ul {
    padding-inline-start: 24px !important;
}

ul li {
    margin: 0 0 12px !important;
}

.bolder-text {
    font-weight: bold !important;
}

.red-text {
    color:#ff0055 !important;
}

.blue-text {
    color: #0093ff !important;
}

.icon-image {
    border-radius: 50%;
    background-color: lightgray;
    background-size: 100px;
    width: 100px;
    height: 100px;
    margin: 10px auto;
}

.icon-image img {
    display: block;
    margin: 16px auto !important;
    width: 100px;
    height: 100px !important;
}

.header {
    display: flex;
    background-color: white;
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
}

.header-text {
    margin: 16px;
    width:100%;
}

.header-text h2 {
    margin:0px;
}

.header .header-action-button {
    margin: auto 16px auto auto !important;
    flex-wrap: wrap;
    align-items: center;
}

.header .header-action-button button {
    background-color: #f9f4fc;
    margin: 0px 0px 8px 8px !important;
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.alert-title {
    max-width: 60vh;
    margin: auto 0 !important;
}

.alert-content p {
    max-width: 60vh;
    margin: 14px !important
}

.alert-row .mat-icon {
    margin: auto 10px;
    width: auto;
    height: auto;
    font-weight: normal !important;
    font-size: 40px !important;;
}

.alert-row {
    display: flex;
}

.top-space {
    margin-top: 20px !important;
}

.mono-font {
    font-family: monospace;
}

.parent-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.scroll-container {
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1;
}

.list-container {
    width: 100%;
}

.center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}