/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

ul {
    padding-inline-start: 24px !important;
}

ul li {
    margin: 0 0 12px !important;
}

.bolder-text {
    font-weight: bold !important;
}

.mat-dialog-container {
    max-width: 70vw !important;
}

.icon-image {
    border-radius: 50%;
    background-color: lightgray;
    background-size: 100px;
    width: 100px;
    height: 100px;
    margin: 10px auto;
}

.icon-image img {
    display: block;
    margin: 16px auto !important;
    width: 100px;
    height: 100px !important;
}

.header {
    display: flex;
    background-color: white;
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
}

.header-text, .header .mat-dialog-actions {
    margin: 16px;
}

.header-text h2 {
    margin:0px;
}

.header .mat-dialog-actions {
    align-self: center;
    margin-left: auto !important;
}

.header .mat-dialog-actions button {
    background-color: #852dc20d;
    margin-left: 16px;
}